*{
    box-sizing: border-box;
}

body{
    font-family: fantasy;
    margin: 0;
    padding: 20px;
    background: #a6f3;
}

.chat-window{
    height: 400px;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(182, 242, 93);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.message-window{
    overflow-y: auto;
    flex: 1;
    margin-bottom: 15px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.message{
    padding: 10px 14px;
    margin: 6px 0;
    border-radius: 12px;
    max-width: 70%;
    word-wrap: break-word;
    line-height: 1.4;;
}

.message.sent{
    background-color: #0d6efd;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}

.message.received{
    background-color: #e9ecef; 
    color: #212529;
    align-self: flex-start;
    border-bottom-left-radius: 2px;
}

.input-area{
    display: flex;
    gap: 10px;
    align-items: center;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #333;
    outline: none;
}

button{
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: darkgrey;
    color: white;
    font-size: 14px;

    &:hover{
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    &:active{
        transform: translateY(0);
    }
}