*{
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(225, 134, 15);
}

.screen-info-button{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 50px;
    
}

.screen-info-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.screen-info-button:active {
    transform: translateY(0);
}